<div class="page-width">
  
  <h1 style="padding-top: {{ section.settings.padding_top }}rem; font-size: {{ section.settings.headingfront_size }}px; text-align: {{ section.settings.heading_allingn | default: 'center' }}; {{ section.settings.check }}">
  {{ section.settings.heading_text }}
</h1>
  <p>{{ section.settings.paragraph_text }}</p>
  {% if section.settings.number_input > 0 %}
    {{ section.settings.number_input }}
  {% endif %}
  {{ section.settings.set_radio }}
</div>

{% schema %}
{
  "name": "Class 1",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading GM"
    },
    {
      "type": "textarea",
      "id": "paragraph_text",
      "label": "Write paragraph",
      "default": "Tell your brand's story here"
    },
    {
      "type": "number",
      "id": "number_input",
      "label": "Write number",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "default": 2
    },
    {
      "type": "range",
      "id": "headingfront_size",
      "label": "Heading Font Size",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "select",
      "id": "heading_allingn",
      "label": "Heading allign",
      "options": [
        {
          "value": "left",
          "label": "left Align"
        },
        {
          "value": "center",
          "label": "center allign"
        }
      ],
      "default":"center"
    },
    {
      "type": "checkbox",
      "id": "check",
      "label": "tick check box",
      "default":true
    },
    {
      "type": "radio",
      "id": "set_radio",
      "label": "set radio",
      "options": [
        {
          "value": "This is good",
          "label": "Good"
        },
        {
          "value": "This is bad",
          "label": "Bad"
        }
        
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Class 1"
    }
  ]
}
{% endschema %}